.main {
    max-width: var(--main-width-container);
    margin: 0 auto;
    display: grid;
    width: 100%;
}


@media (max-width: 756px) {
    .main {
        max-width: var(--mobile-width-container);
    }

}