.header {
    padding-bottom: 40px;
    max-width: var(--main-width-container);
    display: flex;
    justify-content: space-between;
    border-bottom: var(--unde-line-header) solid 1px;
    width: 100%;
}


@media (max-width: 430px) {


    .header {
        padding-bottom: 32px;
        flex-direction: column-reverse;
        width: 100%;
        gap: 18px;


    }
}